<h1>
  Suporte ao Cliente
</h1>

<form id="chatForm">
  <input type="text" name="nome" placeholder="Seu nome" required />
  <textarea
    name="mensagem"
    placeholder="Digite sua mensagem..."
    required
  ></textarea>
  <button type="submit">
    Enviar
  </button>
</form>

<hr />

<h2>
  Mensagens
</h2>
<ul>
  {{#each mensagens}}
    <li>
      <strong>
        {{this.nome}}
      </strong>
      : {{this.mensagem}}
      <em>
        ({{this.data}})
      </em>
    </li>
  {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>