<h1>
  Bem-vindo à
  <span style="color: #5a2ea6;">
    Amazin
  </span>
</h1>
<p>
  Sua nova loja favorita com os melhores produtos de eletrônicos, livros, roupas
  e muito mais.
</p>

<a href="/products">
  <button
    style="
      padding: 10px 20px;
      background-color: #5a2ea6;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 20px;
    "
  >
    Ver Produtos
  </button>
</a>